
    <div class="player-container">
        <div class="player-play-container">
            <div>
                <i class='fas fa-backward'></i>
            </div>
            <div>
                <i (click)="play()" class='fas fa-play'></i>
            </div>
            <div>
                <i class='fas fa-forward'></i>
            </div>
        

        </div>
        <div>
            <i (click)="pause()" class='fas fa-pause'></i>
        </div>
        <div>
            <i (click)="stop()" class='fas fa-stop'></i>
        </div>
       

        <p>volume</p>
        <input #volumeRef type="range" value="0" min="0" max="1" step=".01" (change)="slideVoluem(volumeRef.value, $event)"/>

        <p>seek</p>
        <input #seekRef type="range" value="0" min="0" max="100" step=".1" (change)="seek(seekRef.value, $event)" />

        <div *ngIf="state?.trackInfo?.currentTime">
            <p>current track time</p>{{state.trackInfo.currentTime}}
        </div>

        <button (click)="download()">download</button>

        <input type="file" accept="audio/*" capture id="uploadAudioFie" (click)="upload()"/>

    </div>